In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
order = pd.read_csv(url, sep = '\t')

In [29]:
order.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [5]:
order.shape

(4622, 5)

In [6]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
order.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [8]:
order.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [9]:
order.shape[1]

5

In [10]:
order.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
order.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [27]:
order.groupby("item_name")["quantity"].agg(sum).sort_values(ascending=False)[:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
order.groupby("item_name")["quantity"].agg(sum).sort_values(ascending=False)[:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [33]:
order.groupby("choice_description")["quantity"].agg(sum).sort_values(ascending=False)[:1]

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [34]:
order["quantity"].sum()

4972

### 13. Turn the item price into a float

In [35]:
order.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [48]:
order.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
item_price_float      float64
dtype: object

In [68]:
order["item_price_float"]=order["item_price"].apply(lambda x: float(x[1:]))
order.head(10)

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25

In [40]:
c="$2.39"
c=c[1:]

In [41]:
float(c)

2.39

### Step 14. How much was the revenue for the period in the dataset?

In [53]:
revenue = (order["quantity"]*order["item_price_float"]).sum()
print(f"Revenue is {revenue}")

Revenue is 39237.02

### Step 15. How many orders were made in the period?

In [61]:
order["order_id"].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [71]:
order["revenue"] = order["quantity"]*order["item_price_float"]
order.groupby("order_id")["revenue"].mean()

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: revenue, Length: 1834, dtype: float64

In [76]:
order["revenue"] = order["quantity"]*order["item_price_float"]
order.groupby("order_id")["revenue"].sum().mean()

21.394231188658654

In [80]:
order["revenue"].mean()

8.489186499350943

### Step 17. How many different items are sold?

In [83]:
order["item_name"].value_counts().count()

50

In [92]:
dict = {"math":[34,36,36],"hist":[45,56,66],"geo":[67,56,90]}
x=pd.DataFrame(dict)
x.head()

   math  hist  geo
0    34    45   67
1    36    56   56
2    36    66   90

In [93]:
x["math"].value_counts()

36    2
34    1
Name: math, dtype: int64

In [95]:
x["math"].value_counts().count()

2

In [97]:
x.groupby("math")["hist"].sum()

math
34     45
36    122
Name: hist, dtype: int64

In [98]:
x.groupby("math").sum()["hist"]

math
34     45
36    122
Name: hist, dtype: int64

In [99]:
x.groupby("math")["hist"].sum().mean()

83.5

In [100]:
(45+122)/2

83.5

In [101]:
x.groupby("math")["hist"].mean()

math
34    45
36    61
Name: hist, dtype: int64

In [102]:
x["hist"].mean()

55.666666666666664